body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*margin-top: 150px;*/
  background-color: #f6ec66;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-weight: lighter;
  font-size: 100px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #f65454;
}

.title {
  cursor: pointer;
}

.inputSection {
  margin: 20px 0px 20px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

inputs {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
  border-radius: 4px;
  background-color: #f97272;
}

.submit {
  border-radius: 4px;
  background-color: #f97272;
  padding: 10px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.resultSection {
  font-family: 'Pacifico', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #f65454;
}
